@import "/css/variables.css";


#snippetNav{
  display: flex;
  flex-direction: column;
}

.selectionContainer,
.selectionHeader {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.closeAlertDiv{
display: none;
}
/* selection page */

.resultContainer button{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.codeContainer{
  display: flex;
  min-width: 100%;
  max-width: 100%;
max-height: 100%;;

}

.alert{
position:relative;
right:5px;
}


  
.selectionHeader {
  max-width: 90%;
  display: flex;
  flex-direction: column;
  max-height: 100px;
  color:var(--white);
  position: relative;
  font-size: 24px;
}

.selectionHeader img {
  min-height: 30%;
}

.selectionHeaderText   {
  min-width: 100%;
  position: absolute;
  text-align: center;
}

.selectionContainer {
  max-width: 100%;
  background: var(--black);
  margin-bottom: 100px;
  display: flex;
  flex-direction: column-reverse;
}

.resultContainer {
  padding: 20px;
}


.snippetCon {
  min-height: 500px;;
  margin: 5px;
  border-radius: 2px;
  padding: 20px;
  color: var(--whiteDark);
  background-color:var(--blackLight);
  
}

.copyContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  float: right;
  padding:15px;
  
}

.copy{
  cursor: pointer;
  border-radius: 7px;
  background-color: var(--whiteDark);
  padding:10px;
  margin:0px 0px 15px 0px;
  
}


.card {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 15px;
  border-radius: 2px;
  background-color: var(--white);
  box-shadow: var(--shadow) 2px 5px 5px 2px;
}


.card img {
  max-width: 100%;
  max-height: 100%;
}

.card p {
  color: var(--blackLight);
  font-weight: bold;
  padding: 5px;
  font-size: 12px;
}


.textOnImageCon {
  display: flex;
  max-height: 100px;
  position: relative;
  font-size: 24px;
}

.textOnImageCon img {
  max-width: 90%;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}

.textOnImageText {
  text-decoration-line: none;
  position: absolute;
  text-align: center;
  color: var(--blackLight);
  min-width: 100%;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  
}

@media only screen and (min-width: 600px) and (max-width: 9000px) { /*surfplatta
  */
  #snippetNav{
    display: flex;
    flex-direction: row;
  }

  .selectionContainer{
    display: flex;
    flex-direction: row;
  }
  
 
}

@media only screen and (min-width: 900px) and (max-width: 1300px) { /*surfplatta
  */

  #snippetNav{
    display: flex;
    flex-direction: row;
  }

}


@media only screen and (min-width: 1300px) and (max-width: 40000px) { /*surfplatta
  */
  
  #introduction{
  max-height: 300px;
  min-height: 200px;

  }

 p.intro{
max-width: 50%;
margin-left:auto;
margin-right:auto;

 }

  #snippetNav{
    display: flex;
    flex-direction: row;
    margin-left:15px;
  }
  

/* selection page */

  
.selectionHeader {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  max-height: 100px;
  position: relative;
}

.selectionHeader img {
  min-height: 40%;
  object-fit: cover;
}

.selectionButton{
   cursor: pointer;
    text-decoration-line: none;
    border-radius: 2px;
    box-shadow: #46444469 3px 4px 4px 1px;
    color:var(--white);

    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--primaryLight);
    }

    .selectionButton:hover {
    color:var(--white);
    box-shadow: #47454569 3px 2px 2px 1px;
    background-color: var(--primaryDark)
    }


.selectionContainer {
  max-width: 100%;
  display: flex;
}

.resultContainer {
  padding: 20px;

}


.snippetCon {
  border-radius: 2px;
  padding: 20px;
  width: 33%;
  
}


.card {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 15px;
  border-radius: 2px;
}


.card img {
  max-width: 100%;
  max-height: 100%;
}

.card p {
  font-weight: bold;
  padding: 5px;
  font-size: 12px;
}


.textOnImageCon {
  display: flex;
  max-height: 100px;
  position: relative;
  font-size: 24px;
}

.textOnImageCon img {
  max-width: 90%;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}

.textOnImageText {
  text-decoration-line: none;
  position: absolute;
  text-align: center;
}

.selection{
  display: none;
}

.show{
  display: block;
}
#selection-con{
  overflow: hidden;

}
.buttonSelect.active {
  background-color:var(--secondaryDark);
  color:var(--white);
}

.textareas{
  background-color:var(--whiteDark);
  border:var(--white) 2px solid;
  resize: none;
  width:100%;
  height:60%;
  font-size: 12px;
  padding:10px;
}


}